.App {
  height: 100%;
  text-align: center;
  background-color: #282c34;
  background-image: url('.././media/oceanBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}