.Content {
  @apply md:w-3/4 lg:w-2/3 w-full mx-auto text-center flex flex-col p-6;
}

.Carousel {
  /* max-height: 35vh; */
  width: 80%;
  background: rgb(81,163,221);
  background: linear-gradient(151deg, rgba(81,163,221,0.84) 0%, rgba(126,85,255,0.7) 100%); 
  @apply m-auto p-4 rounded-md;
}

.Carousel img {
  /* max-height: 60vh; */
  /* width: auto; */
  max-height: 50vh;
  @apply m-auto rounded-md;
}