.Footer {  
  background: rgb(141,79,223);
  background: linear-gradient(12deg, rgba(141,79,223,0.5) 0%, rgba(0,217,255,0.5) 95%); 
  border-top: 4px solid rgba(10, 74, 148, 0.568);
}

.Footer-logo {
  max-height: 18vh;
  @apply mx-auto;
}